<style>

</style>
<h1>Student List</h1>
<a href="{% url 'add_student' %}">Add New Student</a>
<table style="border-collapse: collapse;" border="1">
    <tr style="padding: 5px">
        <th>Name</th>
        <th>Age</th>
        <th>Degree</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {% for student in students %}
    <tr style="padding: 5px">
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.degree }}</td>
        <td>{{ student.emailid }}</td>
        <td>
            <a href="{% url 'edit_student' student.pk %}">Edit</a> |
            <a href="{% url 'delete_student' student.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>